@media all and (max-width:1000px) {
  .lesson{
    width:50%;
  }
}
@media all and (max-width:670px){
  .lesson{
    width:100%;

  }
  .btn{
    width:80%;
  }
  .header-right li{
    display:none;
  }
  .header-right span{
    display:block;
    float:right;
    color:white;
    line-height:65px;
    font-size:30px;
  }
  .facebook {
    margin:0 0 20px 1px;
    
  }
  .lesson-icon {
    margin:20px 0;
  }
}
